.alumni-card{
    height: 350px;
    width: 200px;
    border-radius: 5%;
    background-color: antiquewhite;
    margin: 10px;
}
.alumni-card-image{
    height: 180px;
    width: 200px;
    border-radius: 5%;
}
.alumni-card-name{
    font-size: 25px;
    font-weight: 600;
}
.alumni-card-companyname{
    color: darkblue;
}
.alumni-card-name-position-container{
    padding: 5px;
}
.alumni-card-review{
    padding: 13px;
    font-size: 13px;
}