/* page creted by arsH */

.Profile_story{
    height: 380px;
    background-color: brown;
        /* Set the container height to 400 pixels */
        width: 80%;
        heatlh: 23%;
        float: right;
        margin-top: -30%;
        margin-right: 4%;
}
.Profile_Image{
    background-color: blue;
}