.alumni-container{
    height: 380px; /* Set the container height to 400 pixels */
 overflow-y: scroll;
    /*  */
    width: max-content;
    width: 55%;
    float: right;
    margin-top:-30%;
    margin-right: 4%;
} 
.alumni-cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
