#today_circula_cont{
    float: right;
    background-color: rgb(240, 244, 244);
    width: 25%;
    /* top: 0px; */
}
.today_circular_box{
    width: 80%;
    margin: auto;
    text-align: center;
    
}
.today_circular_box h2{
    margin: 5px;
    /* text-align: left; */
}
.today_circular_cont{
    background-color: blueviolet;
  
   
    border-radius: 20px;
    /* padding: 2%; */
    padding-left: 2%;
    padding-right: 2%;
    overflow-y:scroll;
    height: 200px;
    margin-bottom: 10px;
   

}
/* Hide scrollbar for Chrome, Safari and Opera */
.today_circular_cont::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.today_circular_cont {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
  
#today_cont p{
    /* background-color: red; */

}